.form-wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;

	&__input {
		all: unset;
		width: 60%;
		font-size: 22px;
		color: rgb(0 0 0 / 55%);
		font-weight: bold;
		letter-spacing: 1.4px;
		padding: 5px 10px;
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;
		background-color: rgba(255, 255, 255, 0.6);
		box-shadow: 0px 5px 12px 0 rgb(0 0 0 / 30%);

		&:focus {
			box-shadow: 0px 8px 17px 0 rgb(0 0 0);
		}
	}

	&__btn {
		all: unset;
		padding: 5px 15px;
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;
		font-size: 22px;
		color: rgb(0 0 0 / 55%);
		font-weight: bold;
		margin-left: 15px;
		background-color: rgba(255, 255, 255, 0.6);
		box-shadow: 0px 5px 12px 0 rgb(0 0 0 / 30%);

		&:active {
			box-shadow: 0px 8px 17px 0 rgb(0 0 0);
		}
	}
}
