* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 10px;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: url('../../../assets/warm-bg.jpg');
	background-size: cover;
}

.app-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	height: 100vh;
	width: 100%;
}

// ----------------------------
