.weatcher-info {
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(7, 1fr);
	width: 90%;
	height: 40%;
	// margin-top: 120px;
	z-index: 1;
	margin-top: 15%;

	color: rgba(33, 33, 33, 0.97);

	&__location {
		grid-row: 1;
		font-size: 2rem;
	}
	&__date {
		font-size: 2rem;
	}

	&__temperature {
		border-radius: 15px;
		padding: 30px;
		grid-row: 3/7;
		font-size: 8rem;
		background-color: rgba(0, 0, 0, 0.15);
		box-shadow: 4px 4px 7px 0 #2e2e2e;
	}

	&__clouds {
		font-size: 3rem;
	}
}
